/* reset code starts here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.btn{
    background-color:rgb(211, 54, 54);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.section__heading{
    font-size: 4rem;
    text-align: center;
    font-family: "Italiano", cursive;
}
/* reset code ends here*/

/*Header starts here*/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#1e81b0;
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 5vh;
}
.logo{
    border: 1px solid white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: .5rem;
    transition: all 0.4s;
}
.logo:hover{
    color: black;
    border-color: black;
}
nav ul{
    display: flex;
    gap: 4rem;
}
.nav_link{
    transition: all 0.4s;
    padding: 1rem;
}
.nav_link:hover{
    background-color: red;
    border-radius: 1rem;
    cursor: pointer;
    
}
nav ul li a{
    color: white;
    font-size: 2rem;
}
/*Header Ends here*/
 /* banner section starts  */
 .banner{
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
 }
 .banner_image{
    width: 55rem;
    height: 55rem;
    border: 0.3rem solid;
 }
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner_heading{
    display: inline-block;
    padding: 1rem;
    background-color: #1e81b0;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
}
.banner_para{
    font-size: 2.8rem;
    text-align: justify;
}
 /* banner section Ends  */

 /*About section starts here*/
 .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0rem 15rem;
    gap: 2rem;
    height: 50vh;
 }
 .card{
    width: 40rem;
    border-radius: 0.6rem;
    background-color: #037392;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    margin: 0.6rem;
 }
 .card:hover{
    transform: scale(1.1);
 }
.card__header{
    color: white;
    font-size: 3rem;
}
.card__para{
    padding: 0.4rem 0;
    font-size: 1.7rem;
    color: white;
    text-align: justify;
    margin-bottom: 1rem;
}
.card__btn{
    width: 80%;
}





 /*About section starts here*/
/* responsiveness starts here */
@media screen and (max-width: 992px){
    .banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    .cards {
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 5rem;
        gap: 2rem;
        height: auto;
    }
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 55.5%;
    }
    .banner article{
        width: 80%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem;
        gap: 2rem;
        height: auto;
    }
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    html{
        font-size: 48.5%;
    }
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem;
    }
    .banner{
        min-height: auto;

    }
    .banner article{
        width: 90%;
    }
    .banner_image{
        max-width: 100%;
    }
    .cards {
        width: 100%;
        margin: 1rem 0;
        padding: 0 1rem;
    }
    .card {
        width: 100%;
        margin-bottom: 2rem;
    }
}
/* responsiveness ends here */